nav{ 
    div{
    img{ 
        height: 40px;
    }
}
}

#up{
    background-color: #754FFE ;
    padding-left: 10% ;
    padding-right: 10% ;
}

p{
    margin: 0px;
}


main{
    margin-left: 15%;
    margin-right: 15%;
}
#down{
    margin-left: 10%;
    margin-right: 10%;
}